@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #000;
}

.section-subtitle {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  background: #ffe640;
  padding: 11px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}

select {
  border: none;
  background: none;
  cursor: pointer;
}
select:focus-visible {
  outline: none;
}

option[default] {
  display: none;
}

input {
  padding: 8px 9px 7px 10px;
  border-radius: 3px;
  border: solid 1px #606060;
}
input:focus-visible {
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 1px) {
  .container {
    max-width: 350px;
  }
}
@media screen and (min-width: 450px) {
  .container {
    max-width: 440px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 987px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1239px;
  }
}

.breadscrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadscrumbs__stage {
  text-transform: uppercase;
  position: relative;
}
.breadscrumbs__stage:not(:last-child) {
  padding-right: 7px;
  margin-right: 28px;
}
.breadscrumbs__stage:not(:last-child)::after {
  content: "➞";
  color: #909090;
  width: 14px;
  height: 15px;
  position: absolute;
  right: -17px;
  top: 0;
}
.breadscrumbs__stage a {
  color: #909090;
  font-weight: 500;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.breadscrumbs__stage a:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}
.breadscrumbs__back {
  margin-right: 13px;
}

.live-icon {
  font-size: 11px;
  padding: 3px 4px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26105), to(#e0020f));
  background: linear-gradient(to bottom, #f26105, #e0020f);
  color: #fff;
  margin-right: 6px;
  line-height: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.count-up::after {
  content: "";
  content: url(../img/count-arrow-up-copy-18.svg);
  width: 8px;
  height: 8px;
  margin-left: 2px;
}

.count-down::after {
  content: url(../img/count-arrow-down.svg);
  width: 8px;
  height: 8px;
  margin-left: 2px;
}

input[name=Settings] {
  margin-right: 5px;
}

.close-btn {
  position: absolute;
  top: 12%;
  right: 5%;
}
.close-btn:hover::after {
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.close-btn::after {
  content: "✕";
  font-size: 15px;
  font-weight: bold;
  color: #909090;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.breadscrumbs-mob {
  display: none;
}
@media screen and (max-width: 1280px) {
  .breadscrumbs-mob {
    display: block;
  }
}
.breadscrumbs-mob ul {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 13px;
  margin-top: 26px;
}

.breadscrumbs-desk {
  display: block;
}
@media screen and (max-width: 1280px) {
  .breadscrumbs-desk {
    display: none;
  }
}

.header {
  background: url(../img/bg_header_small.jpg);
  height: 250px;
}
@media screen and (max-width: 1280px) {
  .header {
    height: 148px;
  }
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px;
}
@media screen and (max-width: 1280px) {
  .header__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__top-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.header__top-icon {
  margin-right: 6px;
}
.header__top-icon-lang {
  background: #fff;
  padding: 1px 1px 1px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1px;
}
@media screen and (max-width: 1280px) {
  .header__top-icon-lang {
    padding: 3px 1px 1px 2px;
  }
}
.header__logo-desk {
  margin: 10px auto 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1280px) {
  .header__logo-desk {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .header .lang-img {
    padding-bottom: 1px;
  }
}
@media screen and (max-width: 1280px) {
  .header .header__top-icon svg {
    width: 24px;
    height: 24px;
  }
}
.header #page-lang {
  font-weight: bold;
}
.header__nav-desk {
  max-width: 990px;
  margin: 0 auto;
  margin-bottom: 52px;
}
@media screen and (max-width: 1280px) {
  .header__nav-desk {
    display: none;
  }
}
.header__nav-desk ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffe640;
  padding: 1px 30px 1px 35px;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
.header__nav-desk ul li {
  max-width: 78px;
}
.header__nav-desk ul li:not(:last-child) {
  margin-right: 36px;
}
.header__nav-desk ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header__nav-desk ul li a:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.6;
}
.header__nav-desk ul li .home-link svg {
  margin-bottom: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header__nav-desk ul li .home-link:hover svg path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.7;
}
.header__nav-desk ul .signup-link {
  background: -webkit-gradient(linear, left top, left bottom, from(#3ad13c), to(#1ba51c));
  background: linear-gradient(to bottom, #3ad13c, #1ba51c);
  padding: 18px 30px 17px;
  max-width: 114px;
  margin-right: 30px !important;
}
.header__nav-desk ul .signup-link a {
  color: #fff;
}

.ham3,
.ham3-close {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  margin-right: auto;
}
@media screen and (max-width: 1280px) {
  .ham3,
.ham3-close {
    display: block;
  }
}

.ham3,
.ham3-close path {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham3.active,
.ham3-close.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ham3 .top,
.ham3-close .top {
  stroke-dasharray: 40 160;
}

.ham3 .middle,
.ham3-close .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.ham3 .bottom,
.ham3-close .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

.ham3.active .top,
.ham3-close.active .top {
  stroke-dashoffset: -64px;
}

.ham3.active .middle,
.ham3-close.active .middle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ham3.active .bottom,
.ham3-close.active .bottom {
  stroke-dashoffset: -64px;
}

.mobile-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 4;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.85);
  padding-bottom: 80px;
}
.mobile-menu__signboard {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background: #ffe640;
}
.mobile-menu__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu__nav {
  padding: 24px 16px 16px 32px;
}
.mobile-menu__nav-link {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 2.25;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.mobile-menu__nav-link:hover {
  color: #ffe640;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.mobile-menu__nav-link_live {
  color: #3ad13c;
}
.mobile-menu__nav-bottom {
  padding: 0 16px 16px 32px;
}
.mobile-menu__nav-bottom-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 2.44;
  color: #909090;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.mobile-menu__nav-bottom-link:hover {
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.mobile-menu .ham3-close {
  margin-right: 0;
}
.mobile-menu .signboard-text {
  position: relative;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
.mobile-menu .signboard-text .close-btn {
  top: 25%;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-block__body {
  max-width: 959px;
}
@media screen and (max-width: 1024px) {
  .content-block__body {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .content-block__body {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .content-block__body {
    max-width: 440px;
  }
}
@media screen and (max-width: 450px) {
  .content-block__body {
    max-width: 358px;
  }
}
@media screen and (max-width: 370px) {
  .content-block__body {
    max-width: 320px;
  }
}
.content-block__aside {
  max-width: 260px;
}

.search-by__search-row {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 575px) {
  .search-by__search-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.search-by__input {
  background: none;
  border: solid 1px #606060;
  padding: 8px 9px 7px 10px;
  position: relative;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 15px;
  color: #afafaf;
}
.search-by #bet-id {
  color: #fff;
  width: 7%;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .search-by #bet-id {
    width: 13%;
  }
}
@media screen and (max-width: 575px) {
  .search-by #bet-id {
    width: 22%;
  }
}
.search-by #input-id {
  width: 26.5%;
  margin-right: 18px;
}
@media screen and (max-width: 767px) {
  .search-by #input-id {
    margin-right: 10px;
  }
}
@media screen and (max-width: 575px) {
  .search-by #input-id {
    width: 67%;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 16px;
    font-size: 11px;
  }
}
.search-by #input-team {
  width: 57.6%;
  background-position: 98%;
}
@media screen and (max-width: 1024px) {
  .search-by #input-team {
    width: 55.6%;
  }
}
@media screen and (max-width: 767px) {
  .search-by #input-team {
    width: 45.6%;
  }
}
@media screen and (max-width: 575px) {
  .search-by #input-team {
    width: 67%;
    margin-right: 0;
    margin-left: auto;
    font-size: 11px;
  }
}
.search-by__search-row {
  background: #202020;
}
.search-by__bottom {
  margin-top: 20px;
}

.category-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #202020;
  border-radius: 5px;
}
.category-row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 12px 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 5px;
  width: 70px;
}
.category-row__item:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(255, 255, 255, 0.15);
}
.category-row__name {
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 8px;
}

.live {
  margin-top: 24px;
}
.live__sections {
  background: #202020;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.live-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #303030;
}
.live-links .live-link {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 18px 10px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .live-links .live-link {
    padding-bottom: 10px;
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  .live-links .live-link {
    padding: 18px 0 10px 0;
  }
}
.live-links .live-link:hover {
  border-bottom: 3px solid #ffe640;
}
.live-links .live-link_active {
  border-bottom: 3px solid #ffe640;
}

.swiper-button-next {
  top: 31%;
  height: 100%;
  right: 0;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 1280px) {
  .swiper-button-next {
    height: 101%;
  }
}
@media screen and (max-width: 575px) {
  .swiper-button-next {
    right: -2px;
  }
}
.swiper-button-next:after {
  content: url(../img/arrow-r.svg);
  margin-bottom: 15px;
}

.links-next {
  top: 51%;
}
@media screen and (max-width: 450px) {
  .links-next {
    top: 41%;
  }
}

@media screen and (max-width: 575px) {
  .live-links.desk {
    display: none;
  }
}

.live-links.mob {
  display: none;
}
@media screen and (max-width: 575px) {
  .live-links.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.live-links.mob .live-link {
  display: block;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .live-links.mob .live-link {
    height: 24px;
    font-size: 12px;
  }
}

.live-links.links-info-hidden {
  background: #414141;
  padding-top: 5px;
}
.live-links.links-info-hidden .live-link {
  padding: 6px 10px;
  cursor: pointer;
}
.live-links.links-info-hidden .live-link:hover {
  border-bottom: 3px solid #ffe640;
  color: #ffe640;
}
.live-links.links-info-hidden .live-link_active {
  border-bottom: 3px solid #ffe640;
  color: #ffe640;
}

.sport-block__bet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 20px 30px 16px 0;
}
@media screen and (max-width: 767px) {
  .sport-block__bet {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .sport-block__bet {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 20px 10px;
  }
}
.sport-block__selects-mob {
  display: none;
}
@media screen and (max-width: 576px) {
  .sport-block__selects-mob {
    display: block;
  }
}
.sport-block__selects {
  padding-bottom: 16px;
}
@media screen and (max-width: 576px) {
  .sport-block__selects {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .sport-block__x {
    display: none !important;
  }
}
.sport-block #teams-score,
.sport-block #chance {
  padding: 8px 16px;
  border-radius: 12px;
  border: solid 1px #414141;
  color: #cecece;
  width: 193px;
}
.sport-block #teams-score {
  margin-right: 42px;
}
.sport-block .all-events-btn {
  color: #3ad13c;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sport-block .all-events-btn:hover {
  color: #ffe640;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.block-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 575px) {
  .block-x .block-x__item:not(:nth-child(-n+3)) {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .block-x .block-x__item {
    width: 110px;
  }
}
.block-x__item {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 13px 0;
  width: 68px;
  background: #303030;
  line-height: 1;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.block-x__item_disabled {
  border: solid 1px #606060;
  color: #909090;
  background: none !important;
  cursor: text;
}
.block-x__item_disabled:hover {
  background: none !important;
}
.block-x__item:not(:last-child) {
  margin-right: 4px;
}
.block-x__item:hover {
  background: #4e4e4e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.block-info {
  padding: 20px 30px 10px 10px;
  margin-bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #303030;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .block-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.block-info:hover {
  background: #4e4e4e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.block-info::before, .block-info::after {
  content: "";
  position: absolute;
  top: 69%;
  right: 10px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #fff;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.block-info::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.block-info_active {
  background: #4e4e4e;
}
.block-info_active::before, .block-info_active::after {
  content: "";
  position: absolute;
  top: 69%;
  right: 10px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #ffe640;
  -webkit-transform: translate(-3px, -50%) rotate(130deg);
          transform: translate(-3px, -50%) rotate(130deg);
}
.block-info_active::after {
  -webkit-transform: translate(3px, -50%) rotate(50deg);
          transform: translate(3px, -50%) rotate(50deg);
}
@media screen and (max-width: 767px) {
  .block-info__text {
    margin-bottom: 9px;
  }
}
.block-info .text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.block-info .text-row .time-info {
  font-size: 12px;
  font-weight: bold;
  color: #909090;
  margin-right: 10px;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .block-info .text-row .time-info {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .block-info .text-row .time-info {
    margin-right: 5px;
  }
}
.block-info .text-row .country-info.country-py {
  font-size: 12px;
  color: #909090;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}
.block-info .text-row .country-info.country-py::before {
  content: url(../img/py_flag_16px.svg);
  margin-right: 6px;
}
.block-info__x {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .block-info__x {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.block-info .block-x__item {
  background: #606060;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.block-info .block-x__item:hover {
  background: #858585;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.block-info .list-row ul {
  padding-left: 5px;
  margin: 0;
}
.block-info .list-row__item {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.block-info .list-row__item:not(:last-child) {
  margin-bottom: 5px;
}
.block-info .list-row .listI-0::before {
  content: "0";
  padding-right: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #ffe640;
}
.block-info .list-row .listI-1::before {
  content: "1";
  padding-right: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #ffe640;
}

.block-info_active .block-info__x-item:first-child {
  background: #ffe640;
  color: #000;
}
.block-info_active .block-x__item:not(.block-x__item_disabled) {
  border: 1px solid #ffe640;
}

.block-info-hidden {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  margin-bottom: 2px;
}
.block-info-hidden__title {
  font-size: 14px;
  color: #ffe640;
}
.block-info-hidden__subblock {
  padding: 18px 30px 18px 10px;
  margin-bottom: 2px;
  background: #4e4e4e;
  cursor: pointer;
  position: relative;
}
.block-info-hidden__subblock:hover .block-info-hidden__title {
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.block-info-hidden__subblock::before, .block-info-hidden__subblock::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #fff;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.block-info-hidden__subblock::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.block-info-hidden__subblock_active {
  background: #4e4e4e;
  margin-bottom: 0;
}
.block-info-hidden__subblock_active::before, .block-info-hidden__subblock_active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #ffe640;
  -webkit-transform: translate(-3px, -50%) rotate(130deg);
          transform: translate(-3px, -50%) rotate(130deg);
}
.block-info-hidden__subblock_active::after {
  -webkit-transform: translate(3px, -50%) rotate(50deg);
          transform: translate(3px, -50%) rotate(50deg);
}
.block-info-hidden__star_active path {
  fill: #fff;
}
.block-info-hidden__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #4e4e4e;
  padding: 0 30px 20px 10px;
  margin-bottom: 2px;
}
.block-info-hidden__rate:not(:last-child) {
  margin-right: 16px;
}

.rate {
  width: 33%;
  padding: 12px 16px;
  border-radius: 12px;
  border: solid 1px #909090;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.rate:hover {
  color: #000;
  background: #ffe640;
  border: solid 1px #ffe640;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.rate_active {
  color: #000;
  background: #ffe640;
  border: solid 1px #ffe640;
}
.rate .rate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rate .rate__item span {
  font-weight: bold;
  font-size: 14px;
}

.block-aside {
  margin-left: 20px;
}
@media screen and (max-width: 1280px) {
  .block-aside {
    display: none;
  }
}
.block-aside__num {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding: 1px 5px;
  background: #000;
  border-radius: 2px;
}
.block-aside__links {
  background: #202020;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-aside__link {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.block-aside__item {
  background: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 10px 20px 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
.block-aside__item:hover {
  background: #4e4e4e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.block-aside__partakers {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-top: 6px;
  margin-bottom: 8px;
}
.block-aside__double-chance {
  font-size: 11px;
  font-weight: 500;
  color: #909090;
}
.block-aside__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.block-aside__x {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
.block-aside__lock {
  font-size: 14px;
  font-weight: bold;
  color: #909090;
}
.block-aside__delete-btn {
  font-size: 14px;
  font-weight: 500;
  color: #909090;
  background: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 16px 0;
  margin-bottom: 1px;
  padding-left: 35%;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.block-aside__delete-btn:hover {
  background: #4e4e4e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.block-aside__delete-btn::after {
  content: "";
  position: absolute;
  background: url(../img/delete-icon-normal-copy-2.svg);
  width: 15px;
  height: 16px;
  right: 86px;
  top: 14px;
}
.block-aside__total {
  background: #303030;
  padding: 20px 10px 30px 10px;
}
.block-aside__btns {
  background: #303030;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}
.block-aside__settings {
  background: #303030;
  padding: 0 10px 30px 10px;
  position: relative;
  cursor: pointer;
}
.block-aside__settings::before, .block-aside__settings::after {
  content: "";
  position: absolute;
  top: 14%;
  right: 18px;
  display: block;
  width: 9px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #fff;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.block-aside__settings::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.block-aside__settings_active::before, .block-aside__settings_active::after {
  content: "";
  position: absolute;
  top: 14%;
  right: 18px;
  display: block;
  width: 9px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #ffe640;
  -webkit-transform: translate(-3px, -50%) rotate(130deg);
          transform: translate(-3px, -50%) rotate(130deg);
}
.block-aside__settings_active::after {
  -webkit-transform: translate(3px, -50%) rotate(50deg);
          transform: translate(3px, -50%) rotate(50deg);
}
.block-aside__settings-options {
  background: #303030;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.block-aside__settings-options-text {
  font-size: 14px;
  font-weight: normal;
  color: #909090;
}
.block-aside__set-text {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  position: relative;
}
.block-aside__set-text::before {
  content: "";
  position: absolute;
  background: url(../img/settings-icon-copy-2.svg);
  width: 16px;
  height: 16px;
  left: 9px;
  top: -1px;
}
.block-aside table {
  width: 100%;
  border-spacing: 0 12px;
}
.block-aside table tr {
  margin-bottom: 20px;
}
.block-aside table tr td {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.block-aside .place-btn {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#3ad13c), to(#1ba51c));
  background: linear-gradient(to bottom, #3ad13c, #1ba51c);
  border-radius: 4px;
  width: 100%;
  padding: 11px 0;
  margin-bottom: 10px;
}
.block-aside .book-btn {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  border: solid 1px #606060;
  width: 100%;
  padding: 11px 0;
}
.block-aside ul li label {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

.combo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #303030;
  padding: 16px 10px;
  margin-bottom: 1px;
}
.combo-block__text, .combo-block__input {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.combo-block #combo-inp {
  border-radius: 3px;
  border: solid 1px #fff;
  background-color: #202020;
  color: #fff;
  max-width: 100px;
  margin-left: 10px;
}

.footer {
  padding: 40px;
  padding-right: 0;
  background-color: #161616;
  margin-top: 60px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 30px;
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__left-block, .footer__third-block {
  margin-right: 80px;
}
@media screen and (max-width: 1024px) {
  .footer__left-block, .footer__third-block {
    margin-right: 0;
  }
}
@media screen and (max-width: 1280px) {
  .footer__left-block {
    margin-right: 40px;
  }
}
.footer__second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__second-subblock {
  margin-right: 80px;
}
@media screen and (max-width: 1024px) {
  .footer__second-subblock {
    margin-right: 50px;
  }
}
@media screen and (max-width: 785px) {
  .footer__second-subblock {
    margin-right: 33px;
  }
}
.footer__title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
}
@media screen and (max-width: 1280px) {
  .footer__third-block {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__third-block {
    margin-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .footer__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 280px;
  }
}
.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 20px 40px;
}
@media screen and (max-width: 768px) {
  .footer__bottom-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  .footer__bottom-row {
    padding: 0 8px;
  }
}
.footer__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__sponsor-text {
  font-size: 16px;
  font-weight: 500;
  color: #606060;
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .footer__age {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .footer .help-supblock {
    margin-left: 30px;
  }
}
.footer ul li a {
  font-size: 14px;
  font-weight: normal;
  color: #afafaf;
  line-height: 2.14;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer ul li a:hover {
  color: #ffe640;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-left-block {
  max-width: 320px;
}
@media screen and (max-width: 1280px) {
  .footer-left-block {
    max-width: 240px;
  }
}
.footer-left-block__text {
  font-size: 12px;
  font-weight: normal;
  color: #afafaf;
  line-height: 1.75;
}
.footer-left-block__icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.footer-left-block__google-img {
  display: block;
  margin-top: 30px;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .footer.desk {
    display: none;
  }
}

.footer-mob {
  display: none;
  background-color: #161616;
  margin-top: 20px;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .footer-mob {
    display: block;
  }
}
.footer-mob__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.footer-mob__text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.75;
  color: #afafaf;
}
.footer-mob__title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
}
@media screen and (max-width: 576px) {
  .footer-mob__title {
    font-size: 16px;
  }
}
.footer-mob ul li a {
  font-size: 14px;
  font-weight: normal;
  color: #afafaf;
  line-height: 2.14;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer-mob ul li a:hover {
  color: #ffe640;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer-mob .footer-left-block__icons-row {
  margin: 32px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.footer-mob .footer-left-block__icons-row svg {
  width: 24px;
}
.footer-mob .footer-left-block__icons-row img {
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */