.contry-sa {
  &::before {
    content: url(../img/flags/south-america-flag-16-px.svg);
    margin-right: 3px;
  }
}
.country-py {
  &::before {
    content: url(../img/flags/py_flag_16px.svg);
    margin-right: 6px;
  }
}
.country-bra {
  &::before {
    content: url(../img/flags/br_flag_16px.svg);
    margin-right: 6px;
  }
}
.country-bra20 {
  &::before {
    content: url(../img/flags/br_flag_20px.svg);
    margin-right: 6px;
  }
}
.country-chi {
  &::before {
    content: url(../img/flags/cn_flag_16px.svg);
    margin-right: 6px;
  }
}
.country-ar {
  &::before {
    content: url(../img/flags/ar_flag_16px.svg);
    margin-right: 6px;
  }
}
.uefa-flag {
  &::before {
    content: url(../img/flags/uefa_flag_20px.svg);
    margin-right: 6px;
  }
}
.primera {
  &::before {
    content: url(../img/flags/primera.webp);
    margin-right: 6px;
  }
}
.country-peru {
  &::before {
    content: url(../img/flags/peru.webp);
    margin-right: 6px;
  }
}
.country-mx {
  &::before {
    content: url(../img/flags/mx_flag_20px.svg);
    margin-right: 6px;
  }
}
.country-us {
  &::before {
    content: url(../img/flags/us_flag_20px.svg);
    margin-right: 6px;
  }
}
.es-sport-flag {
  &::before {
    content: url(../img/flags/flag-e-sportsbattle-icon.svg);
    margin-right: 6px;
  }
}
.coupon-icon {
  &::before {
    content: url(../img/flags/flag-coupon-icon.svg);
    margin-right: 6px;
  }
}
.country-au20 {
  &::before {
    content: url(../img/flags/au_flag_20px.svg);
    margin-right: 6px;
  }
}
.country-eu {
  &::before {
    content: url(../img/flags/eu_flag_20px.svg);
    margin-right: 6px;
  }
}
.country-se {
  &::before {
    content: url(../img/flags/se_flag_20px.svg);
    margin-right: 6px;
  }
}
.world-icon {
  &::before {
    content: url(../img/icons/menu-left/globe-icon.webp);
    margin-right: 6px;
  }
}
//sports
.football-icon {
  &::before {
    content: url(../img/icons/menu-left/football-icon.svg);
    margin-right: 8px;
  }
}
.basketball-icon {
  &::before {
    content: url(../img/icons/menu-left/basketball-icon.svg);
    margin-right: 8px;
  }
}
.tennis-icon {
  &::before {
    content: url(../img/icons/menu-left/tenis-icon.svg);
    margin-right: 8px;
  }
}
.baseball-icon {
  &::before {
    content: url(../img/icons/menu-left/baseball-icon.svg);
    margin-right: 8px;
  }
}
.amfootball-icon {
  &::before {
    content: url(../img/icons/menu-left/american-football-icon.svg);
    margin-right: 8px;
  }
}
.ice-hockey-icon {
  &::before {
    content: url(../img/icons/menu-left/ice-hockey-icon.svg);
    margin-right: 8px;
  }
}
.e-sport-icon {
  &::before {
    content: url(../img/icons/menu-left/e-sports-icon.svg);
    margin-right: 8px;
  }
}
.cycling-icon {
  &::before {
    content: url(../img/icons/menu-left/cycling-icon.svg);
    margin-right: 8px;
  }
}
.mma-icon {
  &::before {
    content: url(../img/icons/menu-left/mma-icon.svg);
    margin-right: 8px;
  }
}
.boxing-icon {
  &::before {
    content: url(../img/icons/menu-left/boxing-icon.svg);
    margin-right: 8px;
  }
}
.volleyball-icon {
  &::before {
    content: url(../img/icons/menu-left/volleyball-icon.svg);
    margin-right: 8px;
  }
}
.aussie-icon {
  &::before {
    content: url(../img/icons/menu-left/aussie-rules-icon.svg);
    margin-right: 8px;
  }
}
.beach-volley-icon {
  &::before {
    content: url(../img/icons/menu-left/beach-volley-icon.svg);
    margin-right: 8px;
  }
}
.biathlon-icon {
  &::before {
    content: url(../img/icons/menu-left/biathlon-icon.svg);
    margin-right: 8px;
  }
}
.table-tennis-icon {
  &::before {
    content: url(../img/icons/menu-left/table-tennis-icon.svg);
    margin-right: 8px;
  }
}
.handball-icon {
  &::before {
    content: url(../img/icons/menu-left/handball-icon.svg);
    margin-right: 8px;
  }
}
.cricket-icon {
  &::before {
    content: url(../img/icons/menu-left/cricket-icon.svg);
    margin-right: 8px;
  }
}
.darts-icon {
  &::before {
    content: url(../img/icons/menu-left/darts-icon.svg);
    margin-right: 8px;
  }
}
.snooker-icon {
  &::before {
    content: url(../img/icons/menu-left/snooker-icon.svg);
    margin-right: 8px;
  }
}

.waterpolo-icon {
  &::before {
    content: url(../img/icons/menu-left/waterpolo-icon.svg);
    margin-right: 8px;
  }
}

.golf-icon {
  &::before {
    content: url(../img/icons/menu-left/golf-icon.svg);
    margin-right: 8px;
  }
}

.squash-icon {
  &::before {
    content: url(../img/icons/menu-left/squash-icon.svg);
    margin-right: 8px;
  }
}

.futsal-icon {
  &::before {
    content: url(../img/icons/menu-left/futsal-icon.svg);
    margin-right: 8px;
  }
}

.specials-icon {
  &::before {
    content: url(../img/icons/menu-left/specials-icon.svg);
    margin-right: 8px;
  }
}

.ski-jump-icon {
  &::before {
    content: url(../img/icons/menu-left/sky-jumping-icon.svg);
    margin-right: 8px;
  }
}

.alpine-ski-icon {
  &::before {
    content: url(../img/icons/menu-left/alpine-skiing-icon.svg);
    margin-right: 8px;
  }
}

.rugby-league-icon {
  &::before {
    content: url(../img/icons/menu-left/rugby-league-icon.svg);
    margin-right: 8px;
  }
}

.rugby-icon {
  &::before {
    content: url(../img/icons/menu-left/rugby-icon.svg);
    margin-right: 8px;
  }
}
.motosports-icon {
  &::before {
    content: url(../img/icons/menu-left/motorsports-icon.svg);
    margin-right: 8px;
  }
}

.pesapallo-icon {
  &::before {
    content: url(../img/icons/menu-left/pesapallo-icon.svg);
    margin-right: 8px;
  }
}

.gaelic-icon {
  &::before {
    content: url(../img/icons/menu-left/gaelic-hurling-icon.svg);
    margin-right: 8px;
  }
}

.field-hockey-icon {
  &::before {
    content: url(../img/icons/menu-left/field-hockey-icon.svg);
    margin-right: 8px;
  }
}
