.footer {
  padding: 40px;
  padding-right: 0;
  background-color: #161616;
  margin-top: 60px;
  @media screen and (max-width: 1024px) {
    padding: 30px;
  }
  &__row {
    display: flex;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__left-block,
  &__third-block {
    margin-right: 80px;
    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
  }
  &__left-block {
    @media screen and (max-width: 1279px) {
      margin-right: 40px;
    }
  }
  &__logo {
  }

  &__second-block {
    display: flex;
  }
  &__second-subblock {
    margin-right: 80px;
    @media screen and (max-width: 1024px) {
      margin-right: 50px;
    }
    @media screen and (max-width: 785px) {
      margin-right: 33px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: $white;
    margin-top: 0;
  }

  &__third-block {
    @media screen and (max-width: 1279px) {
      margin-right: 30px;
    }
    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
  }

  &__right-block {
    @media screen and (max-width: 1024px) {
      display: flex;
      margin-left: 280px;
    }
  }
  &__wrapper {
    background: $black;
  }
  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 20px 40px;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    @media screen and (max-width: 575px) {
      padding: 0 8px;
    }
  }
  &__sponsors {
    display: flex;
    align-items: center;
  }
  &__sponsor-text {
    font-size: 16px;
    font-weight: 500;
    color: #606060;
    margin-right: 16px;
  }
  &__age {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .help-supblock {
    @media screen and (max-width: 1024px) {
      margin-left: 30px;
    }
  }
  ul {
    li {
      a {
        font-size: 14px;
        font-weight: normal;
        color: #afafaf;
        line-height: 2.14;
        transition: all 0.4s;
        &:hover {
          color: $canary-yellow;
          transition: all 0.4s;
        }
      }
    }
  }
}
.footer-left-block {
  max-width: 320px;
  @media screen and (max-width: 1279px) {
    max-width: 240px;
  }
  &__text {
    font-size: 12px;
    font-weight: normal;
    color: #afafaf;
    line-height: 1.75;
  }

  &__icons-row {
    display: flex;
    column-gap: 16px;
  }
  &__google-img {
    display: block;
    margin-top: 30px;
    margin-bottom: 16px;
  }
  &__icon {
  }
}
.footer.desk {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.footer-mob {
  display: none;
  background-color: #161616;
  margin-top: 20px;
  padding: 30px;
  @media screen and (max-width: 767px) {
    display: block;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  &__text {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.75;
    color: #afafaf;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    color: $white;
    margin-top: 0;
    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }
  ul {
    li {
      a {
        font-size: 14px;
        font-weight: normal;
        color: #afafaf;
        line-height: 2.14;
        transition: all 0.4s;
        &:hover {
          color: $canary-yellow;
          transition: all 0.4s;
        }
      }
    }
  }
  .footer-left-block__icons-row {
    margin: 32px 0;
    align-items: end;
    svg {
      width: 24px;
    }
    img {
      margin-left: auto;
    }
  }
}
