$canary-yellow: #ffe640;
$background-darkgrey: #202020;
$background-lightgrey: #4e4e4e;
$grey30: #303030;
$green-gradient: linear-gradient(to bottom, #3ad13c, #1ba51c);
$red-gradient: linear-gradient(to bottom, #f26105, #e0020f);
$grey-text: #afafaf;
$red: #d85120;
$green: #3ad13c;
$black: #000;
$white: #fff;
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: $black;
}
.section-subtitle {
  color: $black;
  font-size: 15px;
  font-weight: bold;
  background: $canary-yellow;
  padding: 11px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}
select {
  background: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  &:focus-visible {
    outline: none;
  }
  &:not(#bet-id):not(#page-lang):hover {
    border: 1px solid $canary-yellow !important;
  }
}
option[default] {
  display: none;
}
input {
  padding: 8px 9px 7px 10px;
  border-radius: 3px;
  border: solid 1px #606060;
  &:focus-visible {
    outline: none;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.hidden {
  display: none !important;
}
.container {
  margin: 0 auto;
  @media screen and (min-width: 1px) {
    max-width: 350px;
    padding: 0 5px;
  }
  @media screen and (min-width: 450px) {
    max-width: 440px;
    padding: 0;
  }
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media screen and (min-width: 768px) {
    max-width: 732px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 987px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1239px;
  }
}
.breadscrumbs {
  ul {
    display: flex;
    align-items: center;
  }
  &__stage {
    text-transform: uppercase;
    position: relative;
    &:not(:last-child) {
      padding-right: 7px;
      margin-right: 28px;
      &::after {
        content: "➞";
        color: #909090;
        width: 14px;
        height: 15px;
        position: absolute;
        right: -17px;
        top: 0;
      }
    }
    a {
      color: #909090;
      font-weight: 500;
      transition: all 0.4s;
      &:hover {
        transition: all 0.4s;
        color: $white;
      }
    }
    &_active a {
    }
  }
  &__back {
    margin-right: 13px;
  }
}
.live-icon {
  font-size: 11px;
  padding: 3px 4px;
  border-radius: 2px;
  background: $red-gradient;
  color: $white;
  margin-right: 6px;
  line-height: 1;
  width: fit-content;
}
.count-up {
  &::after {
    content: "";
    content: url(../img/icons/count-arrow-up-copy-18.svg);
    width: 8px;
    height: 8px;
    margin-left: 2px;
  }
}
.count-down {
  &::after {
    content: url(../img/icons/count-arrow-down.svg);
    width: 8px;
    height: 8px;
    margin-left: 2px;
  }
}
input[name="Settings"] {
  margin-right: 5px;
}
.close-btn {
  position: absolute;
  top: 12%;
  right: 5%;
  z-index: 3;
  &:hover::after {
    color: $white;
    transition: all 0.4s;
  }
  &::after {
    content: "✕";
    font-size: 15px;
    font-weight: bold;
    color: #909090;
    transition: all 0.4s;
  }
}
.breadscrumbs-mob {
  display: none;
  @media screen and (max-width: 1279px) {
    display: block;
  }
  ul {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 13px;
    margin-top: 26px;
  }
}
.breadscrumbs-desk {
  display: block;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
#bet-id {
  color: $white;
  margin-right: 10px;
}
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    display: flex;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    color: $white;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #858585;
  }

  // Box hover
  &:hover + label:before {
    background: rgb(255 255 255 / 48%);
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $canary-yellow;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: $background-darkgrey;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 $background-darkgrey, 4px 0 0 $background-darkgrey,
      4px -2px 0 $background-darkgrey, 4px -4px 0 $background-darkgrey,
      4px -6px 0 $background-darkgrey, 4px -8px 0 $background-darkgrey;
    transform: rotate(45deg);
  }
}
.block-info {
  flex-wrap: wrap;
  .text-row {
    width: 100%;
  }
}

//scroll
::-webkit-scrollbar {
  width: 3px;
  height: 90px;
  background-color: $grey30;
}

::-webkit-scrollbar-thumb {
  background-color: $canary-yellow;
  border-radius: 9em;
}

#teams-score,
#chance,
#full-time {
  width: 193px;
}

.dropdown-container {
  position: relative;
  max-width: 193px;

  .dropdown-toggle {
    color: #cecece;
    background-color: none;
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid #414141;
    border-radius: 12px;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;

    &:focus-visible {
      outline: none;
    }
    &:hover {
      border: 1px solid $canary-yellow !important;
    }

    label {
      cursor: pointer;
      width: 100%;
    }

    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
    }
  }
  .dropdown-menu {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    margin-top: 4px;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: #ffffff;
    z-index: 10;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border-radius: 12px;
      z-index: 10;
    }

    a {
      text-decoration: none;
      display: block;
      color: #000000;
      font-size: 14px;
      padding: 8px 16px;
      font-weight: normal;
      box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
      transition: all ease-in-out 0.3s;

      &:hover,
      &:active,
      &:focus {
        background: $canary-yellow;
      }
    }
  }
}

#bet-id {
  .dropdown-toggle {
    border: none;
    &:hover {
      border: none !important;
    }
  }
}
#page-lang {
  .dropdown-toggle {
    border: none;
    color: $black;
    padding: 2px 7px;
    padding-right: 17px;
    &:hover {
      border: none !important;
    }
    &::before {
      right: 3px;
      top: 44%;
    }
  }
  .dropdown-menu {
    border-radius: 3px;
    ul {
      border-radius: 3px;
    }
    a {
      padding: 5px 10px;
      border-radius: 0;
    }
  }
}

.dropdown-toggle {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: 5px solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    margin-top: -2.5px;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.2s;
  }
}

.dropdown-menu {
  z-index: 10;
  position: relative;

  &::before {
    z-index: -1;
    transform: rotate(-135deg);
    top: -4px;
    border-color: #ffffff;
    box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
  }
}

.dropdown-open {
  .dropdown-menu.dropdown-active {
    display: block;
  }
}

.dropdown-container.dropdown-open {
  .dropdown-toggle {
    color: #ffffff;

    &:before {
      transform: rotate(-135deg);
    }
  }
}
