.content-block {
  display: flex;
  justify-content: center;
  &__body {
    max-width: 959px;
    @media screen and (max-width: 1023px) {
      max-width: 732px;
    }
    @media screen and (max-width: 767px) {
      max-width: 540px;
    }
    @media screen and (max-width: 575px) {
      max-width: 440px;
    }
    @media screen and (max-width: 449px) {
      max-width: 358px;
    }
    @media screen and (max-width: 370px) {
      max-width: 320px;
    }
  }

  &__aside {
    max-width: 260px;
  }
}
.search-by {
  &__search-row {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @media screen and (max-width: 575px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__match-row {
  }
  .search-by {
    // .search-by__match-row

    &__match-row {
      margin-top: 20px;
      // @media screen and (max-width: 1279px) {
      //   display: none !important;
      // }
    }
  }
  .match-row {
    display: flex;
    column-gap: 10px;
    &__item {
      border-radius: 5px;
      background-color: $grey30;
      padding: 10px;
      height: 88%;
      display: flex;
      flex-direction: column;
    }

    &__top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    &__contry {
      font-size: 12px;
      font-weight: normal;
      color: #909090;
      margin: 0;
    }

    &__live-icon {
      height: fit-content;
      background: none;
      border: solid 1px #606060;
    }

    &__middle {
      font-size: 12px;
      font-weight: normal;
      color: #cecece;
      margin-top: auto;
    }

    &__teams-name {
      font-size: 16px;
      font-weight: 500;
      color: $white;
    }

    &__bottom-row {
      display: flex;
      column-gap: 4px;
      margin-top: auto;
    }

    &__bottom-item {
      display: flex;
      justify-content: space-between;
      padding: 9px;
      border-radius: 2px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      background-color: #606060;
      width: 80px;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        background-color: #7e7e7e;
        transition: all 0.4s;
      }
      :first-child {
        font-size: 13px;
        font-weight: normal;
        color: #cecece;
      }
      :last-child {
        font-size: 14px;
        font-weight: bold;
        color: $white;
      }
    }
    .match-next,
    .match-prev {
      top: 13%;
      height: 101%;
      @media screen and (max-width: 1024px) {
        top: 12%;
      }
      @media screen and (max-width: 768px) {
        top: 12%;
      }
      @media screen and (max-width: 575px) {
        top: 13%;
      }
    }
  }
  &__input {
    background: none;
    border: solid 1px #606060;
    padding: 8px 9px 7px 10px;
    position: relative;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 15px;
    color: $grey-text;
  }
  #bet-id {
    color: $white;
    width: 7%;
    margin-right: 10px;
    @media screen and (max-width: 767px) {
      width: 13%;
    }
    @media screen and (max-width: 575px) {
      width: 22%;
    }
  }
  #input-id {
    width: 26.5%;
    margin-right: 18px;
    @media screen and (max-width: 767px) {
      margin-right: 10px;
    }
    @media screen and (max-width: 575px) {
      width: 67%;
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 16px;
      font-size: 11px;
    }
  }
  #input-team {
    width: 57.6%;
    background-position: 98%;
    @media screen and (max-width: 1024px) {
      width: 55.6%;
    }
    @media screen and (max-width: 767px) {
      width: 45.6%;
    }
    @media screen and (max-width: 575px) {
      width: 67%;
      margin-right: 0;
      margin-left: auto;
      font-size: 11px;
    }
  }

  &__search-row {
    background: $background-darkgrey;
  }

  &__bottom {
    margin-top: 20px;
  }
}
.category-row {
  display: flex;
  background: $background-darkgrey;
  border-radius: 5px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 12px 8px;
    transition: all 0.4s;
    border-radius: 5px;
    width: 70px;
    &:hover {
      transition: all 0.4s;
      background: rgba(255, 255, 255, 0.15);
    }
  }

  &__name {
    font-size: 9px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    margin-top: 8px;
  }
}
.live {
  margin-top: 24px;
  &__sections {
    background: $background-darkgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.live-links {
  display: flex;
  border-bottom: 1px solid #303030;
  .live-link {
    font-size: 12px;
    font-weight: 500;
    color: $white;
    padding: 18px 10px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      padding-bottom: 10px;
      font-size: 11px;
    }
    @media screen and (max-width: 576px) {
      padding: 18px 0 10px 0;
    }
    &:hover {
      border-bottom: 3px solid $canary-yellow;
    }

    &_active {
      border-bottom: 3px solid $canary-yellow;
    }
  }
}
.swiper-button-next {
  top: 31%;
  height: 100%;
  right: 0;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.75);
  @media screen and (max-width: 1279px) {
    height: 101%;
  }
  @media screen and (max-width: 768px) {
    right: -1px;
  }
  @media screen and (max-width: 575px) {
    right: -2px;
  }
  &:after {
    content: url(../img/arrow-r.svg);
    margin-bottom: 15px;
  }
}
.swiper-button-prev {
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  top: 31%;
  @media screen and (max-width: 1279px) {
    height: 101%;
  }
  @media screen and (max-width: 575px) {
    left: -2px;
  }
  &:after {
    content: url(../img/arrow-r.svg);
    margin-top: 15px;
    transform: rotate(180deg);
    @media screen and (max-width: 1024px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 22px;
    }
    @media screen and (max-width: 575px) {
      margin-top: 16px;
    }
  }
}
.links-next {
  top: 51%;
  @media screen and (max-width: 450px) {
    top: 41%;
  }
}
.links-prev {
  top: 51%;
  @media screen and (max-width: 450px) {
    top: 41%;
  }
}
.live-links.desk {
  @media screen and (max-width: 575px) {
    display: none;
  }
}
.live-links.mob {
  display: none;
  @media screen and (max-width: 575px) {
    display: flex;
  }
  .live-link {
    display: block;
    text-align: center;
    @media screen and (max-width: 450px) {
      height: 24px;
      font-size: 12px;
    }
  }
}
.live-links.links-info-hidden {
  background: #414141;
  padding-top: 5px;
  .live-link {
    padding: 6px 10px;
    cursor: pointer;
    &:hover {
      border-bottom: 3px solid $canary-yellow;
      color: $canary-yellow;
    }

    &_active {
      border-bottom: 3px solid $canary-yellow;
      color: $canary-yellow;
    }
  }
}

.sport-block {
  &__bet {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px 30px 16px 0;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
    @media screen and (max-width: 576px) {
      align-items: start;
      padding: 20px 10px;
    }
  }
  &__selects-mob {
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }

  &__selects {
    padding-bottom: 16px;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
  &__x {
    @media screen and (max-width: 576px) {
      display: none !important;
    }
  }
  #teams-score,
  #chance {
    padding: 8px 16px;
    border-radius: 12px;
    border: solid 1px #414141;
    color: #cecece;
    width: 193px;
  }
  #teams-score {
    margin-right: 42px;
  }
  .all-events-btn {
    color: $green;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
    width: fit-content;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    &:hover {
      color: $canary-yellow;
      transition: all 0.4s;
    }
  }
}
.block-x {
  display: flex;
  .block-x__item:not(:nth-child(-n + 3)) {
    @media screen and (max-width: 575px) {
      display: none;
    }
  }
  .block-x__item {
    @media screen and (max-width: 575px) {
      width: 110px;
    }
  }
  &__item {
    font-size: 14px;
    font-weight: bold;
    color: $white;
    padding: 13px 0;
    width: 68px;
    background: $grey30;
    line-height: 1;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
    &_disabled {
      border: solid 1px #606060;
      color: #909090;
      background: none !important;
      cursor: text;
      &:hover {
        background: none !important;
      }
    }
    &:not(:last-child) {
      margin-right: 4px;
    }
    &:hover {
      background: $background-lightgrey;
      transition: all 0.4s;
    }
  }
}

.block-info {
  padding: 20px 30px 10px 10px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  background: $grey30;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 2;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  &:hover {
    background: $background-lightgrey;
    transition: all 0.4s;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 69%;
    right: 10px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: $white;
    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
  &_active {
    background: $background-lightgrey;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 69%;
      right: 10px;
      display: block;
      width: 10px;
      height: 2px;
      transition: all 0.3s ease-out;
      background-color: $canary-yellow;
      transform: translate(-3px, -50%) rotate(130deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(50deg);
    }
  }
  &__text {
    @media screen and (max-width: 767px) {
      margin-bottom: 9px;
    }
  }
  .text-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .time-info {
      font-size: 12px;
      font-weight: bold;
      color: #909090;
      margin-right: 10px;
      line-height: 1;
      @media screen and (max-width: 1023px) {
        margin-right: 0;
      }
      @media screen and (max-width: 767px) {
        margin-right: 5px;
      }
    }
    .country-info {
      font-size: 12px;
      color: #909090;
      display: flex;
      align-items: center;
      line-height: 1;
    }
  }
  &__x {
    align-items: flex-end;
    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: space-evenly;
    }
  }
  .block-x__item {
    background: #606060;
    transition: all 0.4s;
    &:hover {
      background: #858585;
      transition: all 0.4s;
    }
  }
  .list-row {
    ul {
      padding-left: 5px;
      margin: 0;
    }
    &__item {
      font-size: 14px;
      font-weight: 500;
      color: $white;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    .listI-0 {
      &::before {
        content: "0";
        padding-right: 6px;
        font-size: 14px;
        font-weight: 500;
        color: $canary-yellow;
      }
    }
    .listI-1 {
      &::before {
        content: "1";
        padding-right: 8px;
        font-size: 14px;
        font-weight: 500;
        color: $canary-yellow;
      }
    }
  }
}
// block-x__item_disabled
.block-info_active {
  .block-info__x-item:first-child {
    background: $canary-yellow;
    color: $black;
  }
  .block-x__item:not(.block-x__item_disabled) {
    border: 1px solid $canary-yellow;
  }
}
.block-info-hidden {
  transition: ease-in-out 0.5s;
  margin-bottom: 2px;
  &__title {
    font-size: 14px;
    color: $canary-yellow;
  }
  &__subblock {
    padding: 18px 30px 18px 10px;
    margin-bottom: 2px;
    background: $background-lightgrey;

    cursor: pointer;
    position: relative;
    &:hover .block-info-hidden__title {
      color: $white;
      transition: all 0.4s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 10px;
      height: 2px;
      transition: all 0.3s ease-out;
      background-color: $white;
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
    &_active {
      background: $background-lightgrey;
      margin-bottom: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 10px;
        height: 2px;
        transition: all 0.3s ease-out;
        background-color: $canary-yellow;
        transform: translate(-3px, -50%) rotate(130deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(50deg);
      }
    }
  }
  &__star {
    &_active {
      path {
        fill: $white;
      }
    }
  }
  &__row {
    display: flex;
    background: #4e4e4e;
    padding: 0 30px 20px 10px;
    margin-bottom: 2px;
  }
  &__rate {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
.rate {
  width: 33%;
  padding: 12px 16px;
  border-radius: 12px;
  border: solid 1px #909090;
  color: $white;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    color: $black;
    background: $canary-yellow;
    border: solid 1px $canary-yellow;
    transition: all 0.4s;
  }
  &_active {
    color: $black;
    background: $canary-yellow;
    border: solid 1px $canary-yellow;
  }
  .rate__item {
    display: flex;
    justify-content: space-between;
    span {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.block-aside {
  margin-left: 20px;
  @media screen and (max-width: 1279px) {
    display: none;
  }
  &__num {
    font-size: 15px;
    font-weight: bold;
    color: $white;
    padding: 1px 5px;
    background: $black;
    border-radius: 2px;
  }

  &__links {
    background: $background-darkgrey;
    justify-content: space-between;
  }
  &__link {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  &__item {
    background: $background-darkgrey;
    display: flex;
    flex-direction: column;
    padding: 24px 10px 20px 10px;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    &:hover {
      background: $background-lightgrey;
      transition: all 0.4s;
    }
  }

  &__partakers {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    margin-top: 6px;
    margin-bottom: 8px;
  }

  &__double-chance {
    font-size: 11px;
    font-weight: 500;
    color: #909090;
  }
  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__x {
    font-size: 14px;
    font-weight: bold;
    color: $white;
    margin-top: 10px;
  }
  &__lock {
    font-size: 14px;
    font-weight: bold;
    color: #909090;
  }
  &__delete-btn {
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    background: $grey30;
    display: flex;
    align-items: baseline;
    padding: 16px 0;
    margin-bottom: 1px;
    padding-left: 35%;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
      background: $background-lightgrey;
      transition: all 0.4s;
    }
    &::after {
      content: "";
      position: absolute;
      background: url(../img/delete-icon-normal-copy-2.svg);
      width: 15px;
      height: 16px;
      right: 86px;
      top: 14px;
    }
  }
  &__total {
    background: $grey30;
    padding: 20px 10px 30px 10px;
  }
  &__btns {
    background: $grey30;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
  &__settings {
    background: $grey30;
    padding: 0 10px 30px 10px;
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14%;
      right: 18px;
      display: block;
      width: 9px;
      height: 2px;
      transition: all 0.3s ease-out;
      background-color: $white;
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
    &_active {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 14%;
        right: 18px;
        display: block;
        width: 9px;
        height: 2px;
        transition: all 0.3s ease-out;
        background-color: $canary-yellow;
        transform: translate(-3px, -50%) rotate(130deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(50deg);
      }
    }
  }
  &__settings-options {
    background: #303030;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.4s;
  }
  &__settings-options-text {
    font-size: 14px;
    font-weight: normal;
    color: #909090;
  }
  &__set-text {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: $white;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: url(../img/settings-icon-copy-2.svg);
      width: 16px;
      height: 16px;
      left: 9px;
      top: -1px;
    }
  }
  table {
    width: 100%;
    border-spacing: 0 12px;
    tr {
      margin-bottom: 20px;
      td {
        font-size: 14px;
        font-weight: normal;
        color: $white;
      }
    }
  }
  .place-btn {
    font-size: 14px;
    font-weight: bold;
    color: $white;
    background: $green-gradient;
    border-radius: 4px;
    width: 100%;
    padding: 11px 0;
    margin-bottom: 10px;
  }
  .book-btn {
    font-size: 14px;
    font-weight: bold;
    color: $white;
    border-radius: 4px;
    border: solid 1px #606060;
    width: 100%;
    padding: 11px 0;
  }
  ul {
    li {
      label {
        font-size: 14px;
        font-weight: normal;
        color: $white;
      }
    }
  }
}
.combo-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: $grey30;
  padding: 16px 10px;
  margin-bottom: 1px;

  &__text,
  &__input {
    font-size: 14px;
    font-weight: 500;
    color: $white;
  }

  &__input {
  }
  #combo-inp {
    border-radius: 3px;
    border: solid 1px #fff;
    background-color: $background-darkgrey;
    color: $white;
    max-width: 100px;
    margin-left: 10px;
  }
}
