.sports-forecasts {
  .content-block__body {
    max-width: 680px;
    @media screen and (max-width: 1023px) {
      max-width: 700px;
    }
    @media screen and (max-width: 767px) {
      max-width: 732px;
    }
    @media screen and (max-width: 575px) {
      max-width: 440px;
    }
    @media screen and (max-width: 449px) {
      max-width: 358px;
    }
    @media screen and (max-width: 370px) {
      max-width: 320px;
    }
    .search-by__bottom {
      margin-top: 0;
    }
  }
  .block-info {
    flex-wrap: wrap;
    .text-row {
      width: 100%;
    }
  }
  .block-aside {
    .search-by__top {
      margin-bottom: 20px;
    }
    .search-by__search-row {
      display: flex;
      justify-content: space-between;
    }
    #input-team {
      display: none;
    }
    #input-id {
      padding: 8px 0px 7px 10px;
    }
  }
  .highligts {
    .live-icon {
      background: none;
      border: solid 1px #606060;
    }
  }
  .aside-left {
    height: fit-content;
    width: 260px;
    margin-right: 20px;
  }
  .leagues {
    padding: 10px 0px 10px 0px;
    background: $background-darkgrey;

    &__item {
      padding: 7px 10px;
      transition: all 0.4s;
      &:not(:last-of-type) {
        margin-bottom: 6px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.15);
        transition: all 0.4s;
      }
    }

    &__name {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: $white;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        color: $canary-yellow;
        transition: all 0.4s;
      }
    }
    #league {
      font-size: 13px;
      color: #606060;
      width: 84%;
      margin-left: 10px;
    }
    .leagues__item {
      .live-icon {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  .block-aside__lock {
    color: $canary-yellow;
  }
}
.menu-left {
  margin-top: 20px;
  background: $background-darkgrey;
  &__sports {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 10px;
    margin: 10px 0;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 49%;
      right: 10px;
      display: block;
      width: 9px;
      height: 2px;
      background-color: $white;
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
    &_active {
      background: $background-lightgrey;
      margin-bottom: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 49%;
        right: 10px;
        display: block;
        width: 10px;
        height: 2px;
        background-color: $canary-yellow;
        transform: translate(-3px, -50%) rotate(130deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(50deg);
      }
    }
    &:hover {
      transition: all 0.4s;
      background: rgba(255, 255, 255, 0.15);
    }
    &_active {
      background: rgba(255, 255, 255, 0.15);
    }
  }
  &__sport {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    display: flex;
    align-items: center;
  }
  &__sport-quantity {
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    margin-right: 23px;
    margin-left: 3px;
  }
  &__country {
    position: relative;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 49%;
      right: 10px;
      display: block;
      width: 9px;
      height: 2px;
      background-color: $white;
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
    &_active {
      background: $background-lightgrey;
      margin-bottom: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 16%;
        right: 10px;
        display: block;
        width: 10px;
        height: 2px;
        background-color: $canary-yellow;
        transform: translate(-3px, -50%) rotate(130deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(50deg);
      }
    }
  }
  &__country-span {
    display: flex;
    align-items: center;
  }
  &__contry-subblock {
    background: none !important;
    padding-left: 40px;
    padding-top: 5px;
    & li {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
  .live-icon {
    margin-left: auto;
  }
  .styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      display: flex;
      padding: 0;
      font-size: 14px;
      font-weight: normal;
      color: $white;
    }

    // Box.
    & + label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      background-color: #858585;
    }

    // Box hover
    &:hover + label:before {
      background: $background-lightgrey;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
      background: $canary-yellow;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 9px;
      background: $background-darkgrey;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $background-darkgrey, 4px 0 0 $background-darkgrey,
        4px -2px 0 $background-darkgrey, 4px -4px 0 $background-darkgrey,
        4px -6px 0 $background-darkgrey, 4px -8px 0 $background-darkgrey;
      transform: rotate(45deg);
    }
  }
  ul {
    margin: 0;
    background: rgba(255, 255, 255, 0.15);
  }
}
