.sports-forecasts {
  @media screen and (max-width: 1279px) {
    background-image: url(../img/bg_pic_large-dark.png);
  }
  header {
    @media screen and (max-width: 1279px) {
      height: 70px;
      background: none;
    }
  }
  .content-block__body {
    @media screen and (max-width: 1599px) {
      max-width: 860px;
    }
    @media screen and (max-width: 1439px) {
      max-width: 780px;
    }
    @media screen and (max-width: 1350px) {
      max-width: 720px;
    }
    @media screen and (max-width: 1023px) {
      max-width: 700px;
    }
    @media screen and (max-width: 767px) {
      max-width: 540px;
    }
    @media screen and (max-width: 575px) {
      max-width: 440px;
    }
    @media screen and (max-width: 449px) {
      max-width: 358px;
    }
    @media screen and (max-width: 370px) {
      max-width: 300px;
    }
    .search-by__bottom {
      margin-top: 0;
    }
  }
  .container {
    @media screen and (min-width: 1280px) {
      max-width: 1265px;
    }
    @media screen and (min-width: 1349px) {
      max-width: 1320px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 1425px;
    }
    @media screen and (min-width: 1600px) {
      max-width: 1520px;
    }
  }
  .block-aside {
    .search-by__top {
      margin-bottom: 20px;
    }
    .search-by__search-row {
      display: flex;
      justify-content: space-between;
    }
    #input-team {
      display: none;
    }
    #input-id {
      padding: 8px 0px 7px 10px;
    }
  }
  .highligts {
    .live-icon {
      background: none;
      border: solid 1px #606060;
    }
  }
  .aside-left {
    height: fit-content;
    width: 260px;
    margin-right: 20px;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  .leagues {
    padding: 10px 0px 10px 0px;
    background: $background-darkgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &__item {
      padding: 7px 10px;
      transition: all 0.4s;
      &:not(:last-of-type) {
        margin-bottom: 6px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.15);
        transition: all 0.4s;
      }
    }

    &__name {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: $white;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        color: $canary-yellow;
        transition: all 0.4s;
      }
    }
    #league {
      font-size: 13px;
      color: #606060;
      width: 84%;
      margin-left: 10px;
    }
    .leagues__item {
      .live-icon {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  .block-aside__lock {
    color: $canary-yellow;
  }
  .search-by .match-row .match-next,
  .search-by .match-row .match-prev {
    top: 11%;

    @media screen and (max-width: 1023px) {
      top: 13%;
    }
    @media screen and (max-width: 767px) {
      top: 11%;
    }
    @media screen and (max-width: 575px) {
      top: 13%;
    }
    @media screen and (min-width: 1430px) {
      top: 13%;
    }
  }
  .swiper-button-next {
    right: -1px;
  }
  .search-by__top {
    display: none;
    @media (max-width: 1023px) {
      display: block;
      margin-top: 20px;
    }
    #bet-id {
      width: 10%;
      @media (max-width: 767px) {
        width: 12%;
      }
      @media (max-width: 575px) {
        width: 16%;
      }
      @media (max-width: 450px) {
        width: 20%;
      }
      @media (max-width: 370px) {
        width: 24%;
      }
    }
    #input-id {
      width: 32.5%;
      @media (max-width: 767px) {
        width: 28.5%;
      }
      @media (max-width: 575px) {
        width: 75%;
      }
      @media (max-width: 450px) {
        width: 70%;
      }
      @media (max-width: 370px) {
        width: 64%;
      }
    }
    #input-team {
      width: 45.6%;
      @media (max-width: 767px) {
        width: 45.6%;
      }
      @media (max-width: 575px) {
        width: 75%;
      }
      @media (max-width: 450px) {
        width: 70%;
      }
      @media (max-width: 370px) {
        width: 64%;
      }
    }
  }
  .top-leagues-mob {
    display: none;
    @media (max-width: 1023px) {
      display: block;
      margin-top: 20px;
    }
    .leagues {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 15px 0px 10px 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      @media (max-width: 450px) {
        grid-template-columns: 1fr;
      }
      #league {
        display: none;
      }
      .leagues__item:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .search-by .match-row__bottom-item {
    padding: 9px;
    @media (max-width: 1350px) {
      padding: 9px 5px;
    }
    @media (max-width: 575px) {
      padding: 9px;
    }
  }
  .search-by .match-row__bottom-item div:first-child {
    font-size: 12px;
  }
}
.menu-left {
  margin-top: 20px;
  background: $background-darkgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &__sports {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 49%;
      right: 10px;
      display: block;
      width: 9px;
      height: 2px;
      background-color: $white;
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
    &_active {
      background: $background-lightgrey;
      margin-bottom: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 49%;
        right: 10px;
        display: block;
        width: 10px;
        height: 2px;
        background-color: $canary-yellow;
        transform: translate(-3px, -50%) rotate(130deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(50deg);
      }
    }
    &:hover {
      transition: all 0.4s;
      background: rgba(255, 255, 255, 0.15);
    }
    &_active {
      background: rgba(255, 255, 255, 0.15);
    }
  }
  &__sport {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    display: flex;
    align-items: center;
  }
  &__sport-quantity {
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    margin-right: 23px;
    margin-left: 3px;
  }
  &__country {
    position: relative;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 49%;
      right: 10px;
      display: block;
      width: 9px;
      height: 2px;
      background-color: $white;
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
    &_active {
      background: $background-lightgrey;
      margin-bottom: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 16%;
        right: 10px;
        display: block;
        width: 10px;
        height: 2px;
        background-color: $canary-yellow;
        transform: translate(-3px, -50%) rotate(130deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(50deg);
      }
    }
  }
  &__country-span {
    display: flex;
    align-items: center;
  }
  &__contry-subblock {
    background: none !important;
    padding-left: 40px;
    padding-top: 5px;
    & li {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
  .right-box {
    margin-left: auto;
  }

  ul {
    margin: 0;
    background: rgba(255, 255, 255, 0.15);
  }
}
.block-aside-bets {
  margin-top: 20px;
}
.combo-block + .combo-block {
  margin-bottom: 1px;
}
.block-aside-bets {
  .block-aside__item {
    display: flex;
    flex-direction: row;
    background: $grey30;
    margin-bottom: 1px;
    transition: all 0.4s;
    &:hover {
      background: rgba(255, 255, 255, 0.3);
      transition: all 0.4s;
    }
    div:nth-child(2) {
      width: 100%;
    }
  }
  .styled-checkbox:hover + label:before {
    background: #7e7e7e;
  }
  .block-aside__double-chance {
    display: block;
    margin-top: 8px;
  }
  .block-aside__partakers {
    margin-top: 0;
    display: flex;
  }
  &__total {
    background: $background-darkgrey;
    padding: 25px 10px 10px 10px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
.upcoming {
  .live-icon {
    background: none;
    border: solid 1px #606060;
  }
  .block-info .list-row .listI-0::before {
    display: none;
  }
  .block-info .list-row .listI-1::before {
    display: none;
  }
}
.highligts {
  .block-info .list-row .listI-0::before {
    display: none;
  }
  .block-info .list-row .listI-1::before {
    display: none;
  }
}
